<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <a class="navbar-brand" href="#"> Angular Task Manager </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#mynav"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mynav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <!-- routerLink tell that this is not a normal route but angular route -->
        <a class="nav-link" routerLink="dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
         <!-- routerLink tell that this is not a normal route but angular route -->
        <a class="nav-link" routerLink="about">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="search"
            ><i class="fa fa-search"></i
          ></span>
        </div>
        <input type="text" class="form-control" placeholder="Search" />
      </div>
      <button class="btn btn-warning my2- my-sm-0" type="button">Search</button>
    </form>
  </div>
</nav>
 <!-- call the component named Dashboard -->
<!-- <div class="container">
  <app-dashboard></app-dashboard>
</div> -->
<!-- invoking the about component -->
<!-- <div class="container">
  <about></about>
</div> -->
<!-- below tag router-outlet is used to enable the routing, see app-routing.module.ts -->
<!-- router outlet tag is used to represent the current selected route/component by the user  -->
 <!-- It renders the current selected route/component -->
<!-- For example if user has selected dashboard component/route then dashboard component will be represented by the router outlet -->
<div class="container-fluid">
  <router-outlet />
</div>

<!-- Now lets add the routes to the router module -->
 <!-- While creating angular app we have selected --routing, that has created app-routing.module.ts file, where we can define the routes -->

